@import '../styles/variables';

.matrix {
  &__form {
    display: flex;
    margin: 24px 0px 32px 0px;
  }

  &__input {
    padding: 8px;
    width: 100%;

    @media screen and (min-width: 768px) {
      width: 50%;
    }
  }

  &__button {
    &--add {
      padding: 8px;
      font-weight: 700;
      background-color: $color-primary;
      color: $color-background;
      border: 1px solid transparent;
      border-radius: 4px;
      margin-left: 4px;
      cursor: pointer;

      &:hover {
        background-color: $hover-primary;
      }
    }
  }
}
