// Colors

$color-primary: #50fa7b;
$hover-primary: #3cbf5a;
$color-secondary: #f8f8f2;
$color-background: #1e1e1e;
$section-background: #282828;
$color-line: #444;

// Fonts

$font-primary: 'Cedarville Cursive', cursive;
$font-secondary: 'Inria Sans', sans-serif;
