@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import './components/styles/variables';

body,
html {
  background-color: $color-background;
}

.matrix-app {
  text-align: center;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-family: $font-primary;
    font-size: 40px;
    margin: 40px 40px 30px 40px;
    color: $color-secondary;
  }
}

.matrix {
  font-family: $font-secondary;
  padding: 16px 8px;
  color: $color-secondary;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 360px) {
    padding: 16px 14px;
  }

  @media screen and (min-width: 375px) {
    padding: 16px 24px;
  }

  @media screen and (min-width: 600px) {
    padding: 24px;
    gap: 24px;
  }

  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 16px 0px;
    gap: 0;
  }

  @media screen and (min-width: 848px) {
    padding: 16px 24px;
  }
}
