@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import './components/styles/variables';

body,
html {
  background-color: $color-background;
  height: 100%;
  margin: 0;
}

.matrix-app {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }

  &__title {
    font-family: $font-primary;
    font-size: 36px;
    margin: 0 40px 40px 40px;
    color: #ff6ec7;

    @media screen and (min-width: 600px) {
      font-size: 40px;
    }

    @media screen and (min-width: 768px) {
      font-size: 48px;
    }
  }

  &__login-prompt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $font-secondary;
    color: $color-secondary;
    font-size: 14px;
    padding: 0 22px;

    button {
      padding: 0.5rem 1rem;
      background-color: $color-primary;
      color: $color-background;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-family: $font-secondary;
      font-size: 14px;
      font-weight: bold;
      margin-top: 16px;

      &:hover {
        background-color: $hover-primary;
      }
    }

    h2 {
      margin: 0;
    }
  }

  &__logout {
    text-align: right;
    margin: 1rem;

    button {
      padding: 0.5rem 1rem;
      background-color: $color-primary;
      color: $color-background;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-family: $font-secondary;
      font-size: 14px;
      font-weight: bold;

      &:hover {
        background-color: $hover-primary;
      }
    }
  }
}

.matrix {
  font-family: $font-secondary;
  padding: 16px 8px;
  color: $color-secondary;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 360px) {
    padding: 0px 14px;
  }

  @media screen and (min-width: 375px) {
    padding: 0px 24px;
  }

  @media screen and (min-width: 600px) {
    padding: 24px;
    gap: 24px;
  }

  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 16px 0px;
    gap: 0;
  }

  @media screen and (min-width: 848px) {
    padding: 16px 24px;
  }
}
